<div class="navbar">
    <nav>
        <ul>
            <li><a class="btn" href="{{ site.baseurl }}/">Home</a></li>
            <li><a class="btn" href="{{ site.baseurl }}/learning/">Learning</a></li>
            <li><a class="btn" href="{{ site.baseurl }}/projects/">Projects</a></li>
            <li><a class="btn" href="{{ site.baseurl }}/students/">Students</a></li>
            <li><a class="btn" href="{{ site.baseurl }}/blog/">Blog</a></li>
            <!-- Add more buttons as needed -->
        </ul>
    </nav>
</div>
<hr class="header-divider">