@media print {
   @page {
      size: A4;
   }

   body {
      font-size: 11pt;
   }

   .conference {
      background-color: $theme-color !important;
      color: white !important;
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
   }

   // img.avatar {
   //    filter: grayscale(1);
   //    -webkit-filter: greyscale(1);
   // }

   .main-wrapper .time {
      float: right;
      // color: black !important;
   }

   h6 {
      font-weight: 700;
      color: darken($theme-color, 10%) !important;
   }

   .sidebar-wrapper {
      // background-color: $theme-color !important;

      a {
         color: darken($theme-color, 10%) !important;
      }

      // -webkit-print-color-adjust: exact !important;
      // print-color-adjust: exact !important;

      position: static;
      float: right;
      width: 40%;
   }

   .remove-container.container-block {
      display: none;
   }

   footer {
      display: none;
   }

   // .skillset .level-bar-inner {
   //    background-color: black !important;
   // }

   // .fa-inverse,
   // .fa-inverse:after,
   // .fa-inverse:before {
   //    color: #ffffff !important;
   // }

   a[href]:after {
      content: "" !important;
   }
}